.swiper-container {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper2 {
    height: 70%;
    width: 100%;
}

.mySwiper2 .swiper-slide img {
    object-fit: contain;
    height: 100%;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mySwiper {
    height: 30%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide:not(:global(.swiper-slide-thumb-active)) {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.RelatedProductsSwiper {
    @apply max-w-full;
    @apply pb-11;
}

.HeroSection {
    @apply pb-12 pt-24 relative after:absolute after:inset-0 after:bg-gradient-to-t after:from-gray-950 after:to-gray-950/40 overflow-hidden grid place-items-end;

    &-container {
        @apply container flex flex-col gap-10 max-w-2xl relative z-10;
    }
    &-inner {
        @apply flex flex-col gap-4 text-gray-100;
    }
}