.content {
    @apply grid grid-cols-3 gap-5 lg:gap-10;
}

@media screen and (max-width: 991px) {
    .content {
        display: flex;
        overflow-x: scroll;
        // scrollbar-width: none;

        // &::-webkit-scrollbar {
        //     display: none;
        // }
    }
    .item {
        min-width: 270px;
    }
}
