.root {
    &:hover {
        .image {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
        .description {
            grid-template-rows: 1fr;
        }
    }
    @apply relative aspect-[260/320] max-h-[500px] w-full;
}
.content {
    @apply absolute left-0 bottom-[-1px] right-0 text-center font-semibold p-5 z-10 flex flex-col gap-1;
    color: var(--mantine-color-primary-0);
    background: linear-gradient(0deg, #37393e 0%, rgba(55, 57, 62, 0) 100%);
}
.title {
    @apply text-lg lg:text-2xl font-semibold line-clamp-2;
}
.image {
    @apply object-cover w-full transition-all duration-700;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.description {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    @apply font-light transition-all duration-500;
}
.featured {
    @apply aspect-video lg:aspect-[260/320] hover:text-primary;
    .title {
        @apply text-lg;
    }
}
