.root {
    position: relative;
    background: radial-gradient(
        75.72% 51.86% at 57.47% 57.89%,
        rgb(55, 70, 64) 0%,
        var(--color-foreground) 100%
    );
    &::after {
        display: block;
        content: "";
        position: absolute;
        inset: 0;
        // background-color: rgba($color: #2b3632, $alpha: 0.4);
    }
    @media (max-width: $mantine-breakpoint-md) {
        background: transparent;
    }
}
.inner {
    @apply relative grid grid-cols-1 md:grid-cols-2 justify-center items-center lg:gap-14 max-w-5xl mx-auto;
    min-height: 50vh;
    z-index: 10;
    overflow: hidden;

    @media (max-width: $mantine-breakpoint-md) {
        min-height: 33vh;
    }
}
.title {
    @apply font-semibold text-4xl lg:text-6xl mb-4;
    color: #356F4C;
    text-shadow: #000 0px 0px 2px;
}
.text {
    @apply text-lg lg:text-3xl font-extralight italic py-2 text-[#121111];
}
.bg-image {
    @apply -order-1 lg:order-1 w-full h-full object-cover lg:w-auto absolute inset-0 lg:relative lg:ml-auto;
}
